@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IsAxtaris.Models.tbl_vakansiya>


@{
    /**/

    ViewBag.Title = "KatV";
    Layout = "~/Views/Shared/Saytlayout.cshtml";
}
@helper IcerikQisalt(string icerik)
{if (icerik.Length > 260)
    {@icerik.Substring(0, 270)<span style="float:right;margin-right:10px;color:#255288">...</span>
}
else
{
    @icerik         ;
}
}
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/shar.css" />
    <link rel="stylesheet" href="~/indexfooter.css" />
    <link rel="stylesheet" href="~/raaa.css" />
    <link rel="stylesheet" href="~/href.css" />
    <link rel="stylesheet" href="~/siiirr.css" />
    <link rel="stylesheet" href="~/learn.css" />
    <link rel="stylesheet" href="~/page.css" />
    <style>
        .ds {
            margin-top: -35px;
        }

        .ss {
            margin-top: -10px;
        }
    </style>
    <style>
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }




        .blue-hover:hover {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            position: relative;
            z-index: 5;
        }
    </style>
    <link href="~/Content/Hover-master/css/hover.css" rel="stylesheet" media="all">
    <link href="~/Content/Hover-master/css/demo-page.css" rel="stylesheet" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
</head>
<body>

    @if (Model.Count > 0)
    {<br />
        <br />
        <br />
        <br />
        <br />
        <div id="main">
            <section class="section--blue wow bounceInLeft" data-wow-offset="10">
                @foreach (var item in Model)
                {
                <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="box-shadow: 2px 2px 5px rgba(0,0,0,0.5);width: 350px;height:466px;overflow: hidden;background-color:#f4f9f9;float:left;border-radius: 1px;margin-left:25px;border-top-left-radius:15px;border-top-right-radius:15px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">

                    @if (item.tbl_resm.Count > 0)
                    {
                        <img style="height:170px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top-left-radius:15px;border-top-right-radius:15px;" src="@item.tbl_resm.FirstOrDefault(x => x.varsayilan == true).kicikolculu" alt="Man with backpack"
                             class="d-block w-full">

                    }
                    else
                    {

                        <img style="height:170px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top-left-radius:15px;border-top-right-radius:15px;" src="~/Sekiller/YeniKicikVK.jpg" alt="Man with backpack"
                             class="d-block w-full">

                    }

                    <div class="px-2 py-2">
                        <table>
                            <tr>
                                <td>
                                    <div style="margin-top:-14px;margin-left:-20px;">
                                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px sae" style="text-align: center;display: inline-block;border: solid 2px #2bbecc;padding: 5px 0;border-radius: 5px;max-height:30px;font-size:10px;width:auto;">
                                            <span style="font-size:13px;margin-left:5px;font-family:Algerian">@item.tbl_kategoriya.kategoriyaadi</span>
                                        </p>
                                    </div>
                                </td>

                            </tr>
                        </table>




                        <div class="ycontainer wrapword" style="top:57%;left:50%;text-align:center;max-width:350px;max-height:50px;width:350px;height:60px;padding-bottom:20px;">

                            <li>
                                <a href="#" class="cool-link" style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:21px;">@item.isinadi</a>
                            </li>

                        </div>
                        <br />

                        <div class="ycontainer wrapword" style="top:70%;left:50%;text-align:center;width:350px;height:40px;max-width:350px;max-height:50px;">

                            <li>
                                <a href="#" class="cool-linkq" style="font-family:'Mongolian Baiti';font-size:20px;">@item.sirketadi</a>
                            </li>

                        </div>

                    </div>
                    <br />
                    <table style="margin-top:30px;">
                        <tr>
                            <td>
                                <div class="section" style="margin-bottom:30px;margin-left:13px;background-color:transparent">
                                    <div class="section__item">
                                        <div class="section__box" style="width:130px;background-color:transparent;">
                                            <a href="#0" class="r-link ai-element ai-element_type2 ai-element3">
                                                <span class="ai-element__label" style="font-family:Impact;color:#b2e616">3000-5000 AZN</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>

                                <p class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link" style="font-size:15px;width:150px;margin-left:70px;color:black;font-family:'Cambria Math'"><img style="margin-top:10px;" src="~/Sekiller/watch.png" /> @Convert.ToDateTime(item.tarix).ToString("dd.MM.yyyy")</p>

                            </td>

                        </tr>
                    </table>
                    <a href="/Home/VakansiyaDetails/@item.id" style="text-decoration:none">
                        <div class="basicBox" style="margin-top:-20px;left:32%;">
                            Ətraflı Bax
                            <svg width="130" height="50" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
                                <rect x='0' y='0' fill='none' width='130' height='65' />
                            </svg>
                        </div>
                    </a>
                </div>
                }
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br /><br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
                <div style="margin-left:0px;margin-top:600px;text-align:center;width:auto;height:auto;">
                    @Html.PagedListPager(Model, page => Url.Action("Butunvakansiyalar", "Home", new { page = page }))

                    <p style="font-family: 'PT Sans', sans-serif;font-size:18px">Səhifə ( @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount )</p>
                </div>
                <br /><br /><br /><br /><br />
                <footer class="footer-distributed" style="margin-top:-70px;border-top-left-radius:15px;border-top-right-radius:15px;width:1526px;margin-left:0px;">

                    <div class="footer-left">

                        <h3>TURAB<span>BL</span></h3>

                        <p class="footer-links">
                            <a href="#">Ana Səhifə</a>
                            |
                            <a href="#">CV</a>
                            |
                            <a href="#">Vakansiya Elan Et</a>
                            |
                            <a href="#">Əlaqə</a>
                        </p>

                        <table>
                            <tr>
                                <td><p style="color:white;margin-top:20px;">Bizə Dəstək Ol :)</p></td>
                                <td>
                                    <div class="ssdiv" style="margin-left:130px;margin-top:10px;">
                                        <a href="#" class="ssa"><span>Facebook</span></a>
                                        <a href="#" class="ssa"><span>Twitter</span></a>
                                        <a href="#" class="ssa"><span>Instagram</span></a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br /> <br /> <br />
                        <p class="footer-company-name">© 2020 TURABBL Tərəfindən Yaradılmışdır</p>
                    </div>

                    <div class="footer-center" style="margin-left:62px;">
                        <div>
                            <div style="width:70px;height:40px;margin-left:-50px;float:left">
                                <img src="~/Sekiller/location.png" style="margin-left:30px;margin-top:10px;" />
                            </div>
                            <p>
                                <span>
                                    Sabunçu Rayonu.,
                                    Maştağa Qəsəbəsi

                                </span>
                                Daş Karxanası
                            </p>
                        </div>

                        <div>
                            <div style="width:70px;height:40px;margin-left:-50px;float:left;margin-top:20px;">
                                <img src="~/Sekiller/phone (1).png" style="margin-left:30px;margin-top:10px;" />
                            </div>
                            <p style="margin-top:30px;">+994703067050</p>
                        </div>
                        <div>
                            <div style="width:70px;height:40px;margin-left:-50px;float:left;margin-top:20px;">
                                <img src="~/Sekiller/mail.png" style="margin-left:10px;margin-top:10px;" />
                            </div>
                            <p style="margin-top:30px;margin-left:-18px;"><a href="mailto:turabbl@gmail.com">turabbl@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="footer-right" style="margin-left:-130px;">
                        <p style="color:white;margin-bottom:10px;">E-Mail</p>
                        <label class="field a-field a-field_a1" style="margin-top:-50px;">
                            <input required class="field__input a-field__input" type="text" name="sirketadi" placeholder="">
                            <span class="a-field__label-wrap">
                                <span class="a-field__label"></span>
                            </span>
                        </label>
                        <br />
                        <br />
                        <div style="width:560px;float:left">
                            <textarea name="telebler" id="field5" placeholder="Mesajiniz..." class="field-long field-textarea" style="border-radius:4px;width:390px;height:120px;float:left;max-height:150px;max-width:390px;font-size:16px;min-width:390px;min-height:150px;border: none;
    overflow: auto;
    outline: none;-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;padding:2px;"></textarea>

                            <div class="button_cont" align="center"><a class="example_a" href="add-website-here" target="_blank" rel="nofollow noopener">Bize Gonder</a></div>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    }
    else
    {
        <p style="font-family: 'PT Sans', sans-serif;color:black;font-size:23px;margin-top:240px;margin-left:550px">Bu Kategoriyaya Uygun Vakansiya Yoxdur</p>

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <footer class="footer-distributed" style="margin-top:-70px;border-top-left-radius:15px;border-top-right-radius:15px;width:1526px;margin-left:0px;">

            <div class="footer-left">

                <h3>TURAB<span>BL</span></h3>

                <p class="footer-links">
                    <a href="#">Ana Səhifə</a>
                    |
                    <a href="#">CV</a>
                    |
                    <a href="#">Vakansiya Elan Et</a>
                    |
                    <a href="#">Əlaqə</a>
                </p>

                <table>
                    <tr>
                        <td><p style="color:white;margin-top:20px;">Bizə Dəstək Ol :)</p></td>
                        <td>
                            <div class="ssdiv" style="margin-left:130px;margin-top:10px;">
                                <a href="#" class="ssa"><span>Facebook</span></a>
                                <a href="#" class="ssa"><span>Twitter</span></a>
                                <a href="#" class="ssa"><span>Instagram</span></a>
                            </div>
                        </td>
                    </tr>
                </table>

                <br /> <br /> <br />
                <p class="footer-company-name">© 2020 TURABBL Tərəfindən Yaradılmışdır</p>
            </div>

            <div class="footer-center" style="margin-left:62px;">
                <div>
                    <div style="width:70px;height:40px;margin-left:-50px;float:left">
                        <img src="~/Sekiller/location.png" style="margin-left:30px;margin-top:10px;" />
                    </div>
                    <p>
                        <span>
                            Sabunçu Rayonu.,
                            Maştağa Qəsəbəsi

                        </span>
                        Daş Karxanası
                    </p>
                </div>

                <div>
                    <div style="width:70px;height:40px;margin-left:-50px;float:left;margin-top:20px;">
                        <img src="~/Sekiller/phone (1).png" style="margin-left:30px;margin-top:10px;" />
                    </div>
                    <p style="margin-top:30px;">+994703067050</p>
                </div>
                <div>
                    <div style="width:70px;height:40px;margin-left:-50px;float:left;margin-top:20px;">
                        <img src="~/Sekiller/mail.png" style="margin-left:10px;margin-top:10px;" />
                    </div>
                    <p style="margin-top:30px;margin-left:-18px;"><a href="mailto:turabbl@gmail.com">turabbl@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right" style="margin-left:-130px;">
                <p style="color:white;margin-bottom:10px;">E-Mail</p>
                <label class="field a-field a-field_a1" style="margin-top:-50px;">
                    <input required class="field__input a-field__input" type="text" name="sirketadi" placeholder="">
                    <span class="a-field__label-wrap">
                        <span class="a-field__label"></span>
                    </span>
                </label>
                <br />
                <br />
                <div style="width:560px;float:left">
                    <textarea name="telebler" id="field5" placeholder="Mesajiniz..." class="field-long field-textarea" style="border-radius:4px;width:390px;height:120px;float:left;max-height:150px;max-width:390px;font-size:16px;min-width:390px;min-height:150px;border: none;
    overflow: auto;
    outline: none;-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;padding:2px;"></textarea>

                    <div class="button_cont" align="center"><a class="example_a" href="add-website-here" target="_blank" rel="nofollow noopener">Bize Gonder</a></div>
                </div>
            </div>
        </footer>
        <style>
            html {
                height: 100%;
            }

            body {
                min-height: 100%;
            }
        </style>
    }
        <style>

               




                .example_a {
                    color: #fff !important;
                    text-transform: uppercase;
                    text-decoration: none;
                    background: #7c9e16;
                    padding: 20px;
                    border-radius: 5px;
                    display: inline-block;
                    border: none;
                    margin-left: 20px;
                    margin-top: 92px;
                    transition: all 0.4s ease 0s;
                }

                .example_a:hover {
                    letter-spacing: 1px;
                    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
                    transition: all 0.4s ease 0s;
                }


                .field {
                    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #ffffff);
                }

                .field__input {
                    background-color: transparent;
                    border-radius: 3px;
                    border: none;
                    color: white;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    font-family: inherit;
                    font-size: 1em;
                }

                    .field__input:focus::-webkit-input-placeholder {
                        color: #698bad;
                        font-size: 13px;
                    }

                    .field__input:focus::-moz-placeholder {
                        color: var(--uiFieldPlaceholderColor);
                        opacity: 1;
                    }

                /*
            =====
            LEVEL 2. CORE STYLES
            =====
            */

                .a-field {
                    display: inline-block;
                }

                .a-field__input {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                }

                    .a-field__input:focus {
                        outline: none;
                    }

                /*
            =====
            LEVEL 3. PRESENTATION STYLES
            =====
            */

                /* a-field */

                .a-field {
                    --uiFieldHeight: var(--fieldHeight, 2.5rem);
                    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
                    --uiFieldBorderColor: var(--fieldBorderColor);
                    --uiFieldFontSize: var(--fieldFontSize, 1rem);
                    --uiFieldHintFontSize: var(--fieldHintFontSize, 1rem);
                    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
                    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 1rem);
                    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
                    position: relative;
                    box-sizing: border-box;
                    font-size: var(--uiFieldFontSize);
                    padding-top: 1rem;
                }

                .a-field__input {
                    height: var(--uiFieldHeight);
                    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
                    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
                }

                    .a-field__input::-webkit-input-placeholder {
                        opacity: 0;
                        transition: opacity .2s ease-out;
                    }

                    .a-field__input::-moz-placeholder {
                        opacity: 0;
                        transition: opacity .2s ease-out;
                    }

                    .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
                        opacity: 0;
                        bottom: var(--uiFieldPaddingBottom);
                    }

                    .a-field__input:focus::-webkit-input-placeholder {
                        opacity: 1;
                        transition-delay: .2s;
                    }

                    .a-field__input:focus::-moz-placeholder {
                        opacity: 1;
                        transition-delay: .2s;
                    }

                .a-field__label-wrap {
                    box-sizing: border-box;
                    width: 100%;
                    height: var(--uiFieldHeight);
                    pointer-events: none;
                    cursor: text;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .a-field__label {
                    position: absolute;
                    left: var(--uiFieldPaddingLeft);
                    bottom: calc(50% - .5em);
                    line-height: 1;
                    font-size: var(--uiFieldHintFontSize);
                    pointer-events: none;
                    transition: bottom .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out;
                    will-change: bottom, opacity;
                    color: white;
                }

                .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
                    opacity: 1;
                    bottom: var(--uiFieldHeight);
                }

                /* a-field_a1 */

                .a-field_a1 .a-field__input {
                    transition: border-color .2s ease-out;
                    will-change: border-color;
                }

                    .a-field_a1 .a-field__input:focus {
                        border-color: var(--fieldBorderColorActive);
                    }

                /* a-field_a2 */

                .a-field_a2 .a-field__label-wrap::after {
                    content: "";
                    box-sizing: border-box;
                    width: 0;
                    height: var(--uiFieldBorderWidth);
                    background-color: var(--fieldBorderColorActive);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    will-change: width;
                    transition: width .285s ease-out;
                }

                .a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after {
                    width: 100%;
                }

                /* a-field_a3 */

                .a-field_a3 {
                    padding-top: 1.5rem;
                }

                    .a-field_a3 .a-field__label-wrap::after {
                        content: "";
                        box-sizing: border-box;
                        width: 100%;
                        height: 0;
                        opacity: 0;
                        border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        will-change: opacity, height;
                        transition: height .2s ease-out, opacity .2s ease-out;
                    }

                    .a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after {
                        height: 100%;
                        opacity: 1;
                    }

                    .a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
                        bottom: calc(var(--uiFieldHeight) + .5em);
                    }

                /*
            =====
            LEVEL 4. SETTINGS
            =====
            */

                .field {
                    --fieldBorderColor: #5a92cf;
                    --fieldBorderColorActive: white;
                }

                /*
            =====
            DEMO
            =====
            */


                .page {
                    box-sizing: border-box;
                    width: 410px;
                    max-width: 430px;
                    margin-left: 13px;
                    margin-top: 100px;
                    padding: 10px;
                    display: grid;
                    grid-gap: 30px;
                    align-items: flex-end;
                    order: 1;
                }

                media (min-width: 481px) {
                    .page

                {
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                }

                }




















                #more {
                    display: none;
                }

                .iubutton {
                    border-radius: 10px;
                    background-color: #da0808;
                    border: none;
                    outline: none;
                    color: white;
                    font-size: 16px;
                    padding: 5px;
                }

                    .iubutton:hover {
                        cursor: pointer;
                    }

                .wrapword {
                    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
                    white-space: -pre-wrap; /* Opera 4-6 */
                    white-space: -o-pre-wrap; /* Opera 7 */
                    white-space: pre-wrap; /* css-3 */
                    word-wrap: break-word; /* Internet Explorer 5.5+ */
                    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
                    word-break: break-all;
                    white-space: normal;
                }
        
    </style>
    <script src="~/Content/WOW-20848c410fe32d161c2330e1d261b59512094f81/dist/wow.js"></script>

    @*<div class="lcontainer">

            <div class="pagination p9">
                <ul >
                    <a href="#" class="la"><li class="lli">1</li></a>
                    <a href="#" class="la"><li class="lli">2</li></a>
                    <a href="#" class="la"><li class="lli">3</li></a>
                    <a class="is-active la" href="#"><li class="lli">4</li></a>
                    <a href="#" class="la"><li class="lli">5</li></a>
                    <a href="#" class="la"><li class="lli">6</li></a>
                </ul>
            </div>

        </div>*@
</body>
</html>




<style>

    .wrapword {
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap; /* css-3 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
    }

    .ycontainer {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
    }

    li {
        display: inline-block;
    }

        li a {
            text-decoration: none;
            color: #090c25;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida; Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: lighter;
            font-size: 20px;
        }

    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #2bbecc;
        transition: width .3s;
    }

    .cool-link:hover::after {
        width: 100%;
        transition: width .3s;
    }

    .cool-linkq::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #c1ff06;
        transition: width .3s;
    }

    .cool-linkq:hover::after {
        width: 100%;
        transition: width .3s;
    }





    .sae {
        color: black;
    }

        .sae:hover {
            background: #2bbecc;
            color: white;
            cursor: pointer;
        }
</style>